.app {
    margin-bottom: 40px;
    margin-top: 20px;
}

.title {
    margin-top: 30px;
    margin-left: 15px;
}

@media (max-width: 575px) {
    .title {
        font-size: 28px;
        margin-top: 40px;
    }
}
